.fetcher {
    margin-top: 3.5rem;
    margin-left: 1rem;
}

.fetcher__properties__wrapper {
    display: flex;
    flex-direction: row;
}

.fetcher__properties__checkboxes__wrapper {
    width: 24rem;
    height: 18.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.fetcher__properties__buttons__wrapper {
    margin-top: 1.5rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
