.users-view-top-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;

    position: fixed;
    left: 0;
    top: 1rem;
    width: 100%;
    z-index: 15;    
}

.grid-settings {
    margin-top: 1.5rem;
    padding-left: .5rem;
    padding-top: .5rem;
    background-color: white;
}

.grid-container-wrapper {
    padding: 10rem 0 0 0;   
    width: 100%;   
}

.grid-container {
    display: grid;
    grid-gap: .3rem 1rem;
    width: 100%;    
    padding: 0 1rem;
}

.grid-item {
    overflow-wrap: break-word;
}

.property-name, .subproperty-name {
    font-weight: 700;
}

.subproperty-name {
    font-size: .85rem;
}


/* tooltip START */
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_bottom */
.tooltip {
    position: relative;
    display: inline;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 5px;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 200;
    bottom: 120%;
    left: 0%;
}
  
.tooltip:not(.no-arrow) .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:hover {
    background-color: yellow;
}
/* tooltip END */