/* Need to add Material-UI */

.input-label {
    display: block;
    margin-bottom: .5rem;
}

.properties-button {
    margin-right: 1rem;
}

.nav li {
    display: inline;
    margin-right: 1rem;
    text-decoration: none;
}

.home-page {
    margin-left: 1rem;
}
