* {
    box-sizing: border-box;
}

/* miscellaneous */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


/* fetcher START */
/* .fetcher {
    margin-top: 3.5rem;
    margin-left: 1rem;
}

.fetcher-properties-wrapper {
    display: flex;
    flex-direction: row;
}

.fetcher-properties-checkboxes-wrapper {
    width: 24rem;
    height: 18.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.fetcher-properties-buttons-wrapper {
    margin-top: 1.5rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} */
/* fetcher END */


/* home page START */
/* .home-page {
    margin-top: 3.5rem;
    margin-left: 1rem;
    max-width: 60rem;
}

.home-page h1 {
    font-size: 1.25rem;
}

.home-page p {
    font-size: 1.1rem;
} */
/* home page END */


/* nav START */
/* .nav-container {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: .5rem 1.5rem;
    font-weight: 500;
}

.nav-link-active {
    color: navy;
    background-color: white;
}

.nav-link:hover:not(.nav-link-active) {
    color: black;
    background-color: yellow;
} */
/* nav END */


/* users view START */
/* .users-view-top-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;

    position: fixed;
    left: 0;
    top: 1rem;
    width: 100%;
    z-index: 15;    
}

.grid-settings {
    margin-top: 1.5rem;
    padding-left: .5rem;
    padding-top: .5rem;
    background-color: white;
}

.grid-container-wrapper {
    padding: 10rem 0 0 0;   
    width: 100%;   
}

.grid-container {
    display: grid;
    grid-gap: .3rem 1rem;
    width: 100%;    
    padding: 0 1rem;
}

.grid-item {
    overflow-wrap: break-word;
}

.property-name, .subproperty-name {
    font-weight: 700;
}

.subproperty-name {
    font-size: .85rem;
} */
/* users view END */


/* tooltip START */
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_bottom */
.tooltip {
    position: relative;
    display: inline;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 5px;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 200;
    bottom: 120%;
    left: 0%;
}
  
.tooltip:not(.no-arrow) .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* Dummy class to prevent displaying an arrow for a tooltip */
/* .no-arrow {
} */
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:hover {
    background-color: yellow;
}
/* tooltip END */


/* pagination START */
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_pagination_border_round */
.pagination {
    display: inline-block;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
}

.pagination span {
    float: left;
    padding: 6px 14px;
    text-decoration: none;
    border: 1px solid #ddd;
    background-color: #3f51b5;
    color: white;
    font-family: Courier, Monaco, monospace;
    font-weight: bold;
}
  
.pagination span.active-page {
    color: navy;
    background-color: white;
    font-weight: 700;
    border: 1px solid navy;
}

.pagination span.switched-off {
    color: navy;
    background-color: lightgray;
    font-weight: bold;
    border: 1px solid navy;
}

.pagination span.page-ellipsis {
    color: navy;
    background-color: lightgray;
    font-weight: bold;
}

.pagination span.page-spacer {
    color: white;
    background-color: lightgray;
    font-weight: bold;
    z-index: 10;
}

.pagination span:hover:not(.no-hover-effect) {
    background-color: yellow;
    color: black;
}
  
.pagination span:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
  
.pagination span:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* pagination END */

