/* Need to add Material-UI */

.input-label {
    display: block;
    margin-bottom: .5rem;
}

.properties-button {
    margin-right: 1rem;
}

.home-page {
    margin-left: 1rem;
}

.nav-ul li {
    display: inline;
    margin-right: 1rem;
    text-decoration: none;
}

.nav-link-active {
    font-weight: 600;
    color: blue;
}

.right-margin-span {
    margin-right: 1rem;
}

.grid-container {
    display: grid;
    grid-gap: 1rem;
    margin: 0 1rem 0 2rem;
}

.grid-item {
    overflow-wrap: break-word;
}